*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}
/* regole di debug */








.debug .section-1 .billing{
    background-color: blue;
    width: 200px;
    height: 50px;
    display: inline-block;
    border: 2px dashed white;
}

.debug .long-column-1, .debug .long-column-2, .debug .long-column-3{
    height: 700px;
}

.debug .col{
    background-color: red;
    border: 2px dashed rgb(0, 0, 0);
}

.debug .top-bar{
    background-color: yellow;
}

.debug .info-box, .debug .contact-box{
    background-color: blueviolet;
    height: 400px;
    border: 1px dashed red;
}

.debug .section-2 div{
    height: 500px;
    border: 2px dashed rgb(0, 0, 0);
    width: 100%;
    background-color: green;
}


.debug .square{
    background-color: palegreen;
    border: 2px dashed rgb(0, 0, 0);
}

.debug .small-square{
    background-color: gold;
    border: 2px dashed rgb(0, 0, 0);
}

.debug .section-6 h2{
   height: 50px;
   background-color: pink;
   border: 2px dashed rgb(0, 0, 0);
}

.debug .section-6 a{
    height: 50px;
    background-color: pink;
    border: 2px dashed rgb(0, 0, 0);
    display: block;
}

.debug .ft-column{
    height: 500px;
    background-color: aquamarine;
}

/* regole di css */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    justify-content: space-between;
    z-index: 9999;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 0 25px;
}

img {
    width: 13%;
}

.logo {
    display: inline-block;
}

.button {
    background-color: #0061ff;
    padding: 7px 20px;
    color: white;
    text-decoration: none;
}

.header-right{
    text-align: right;
}

.header-left, .header-right{
    width: 50%;
    padding: 0px 20px;
}

main{
    padding-top: 105px;
}

.big-container{
    max-width: 1600px;
    margin: 0 auto;
}

.small-container{
    max-width: 1170px;
    margin: 0 auto;
}

.jumbotron{
    background-color: #b4d0e7;
}

.flex{
    display: flex;
}

.jt-left{
    width: 30%;
    padding-right: 10px;
}

.jt-right{
    width: calc(70% - 10px);
    position: relative;
}

.jumbotron .big-container h1 {
    padding: 100px 0 0;
    font-size: 100px;
    font-weight: 900;
}

.jumbotron .flex{
    padding: 50px 0px 0px;
    justify-content: space-between;
}

.jt-left span{
    display: block;
    padding: 50px 0;
}

.jt-left p, .jt-left span {
    font-size: 22px;
    padding-bottom: 50px;
}

.jt-left .button{
    font-size: 22px;
    padding: 15px ; 
}

#arrow {
    text-decoration: none;
    font-size: 70px;
    color: black;
    padding-bottom: 30px;
}

.jt-right img{
    width: 100%;
    position: absolute;
}

section{
    padding-top: 200px;
}

.billing{
    padding: 50px 0;
}

.flex-columns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3 - 40px);
    margin-top: 30px;
}

.top-bar {
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.top-bar span{
    padding: 10px 0;
    display: block;
}

.bottom-bar.flex{
    border: 1px solid black;
}

.info-box{
    width: 70%;
}

.contact-box{
    width: 30%;
}

.section-1-bt{
    padding-top: 50px;
}

.left-big-container {
    width: 60%;
}

.right-small-container{
    width: 40%;
}

.col-img{
    height: 200px;
}

.square{
    width: calc(100vw / 3);
    height: calc(100vw /3);
    display: flex;
    flex-wrap: wrap;
}

/* aspect-ratio: 1/1;        proprietà compatibile all 89% considerando IE */

.small-square{
    width: calc(100% / 2 );
    height: calc(100% / 2 );
}

.section-6{
    background-color: #b4d0e7;
}

.section-6 .flex{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
    
}

hr {
    height: 1px;
    border: none;
}

.section-7 hr{
    background-color: black;
    margin: 30px 0;
}

.questions{
    width: 100%;
    padding: 20px 0px;
}

.questions h3{
    display: inline-block;
    width: 95%;
}

.questions a {
    display: inline-block;
}

footer{
    background-color: black;
    margin-top: 200px;
}

.ft-column{
    width: calc(100% / 5 - 80px);
}

footer hr{
    background-color: white;
    width: 50px;
    margin: 50px 0;
}

footer a{
    padding: 50px 0;
    display: inline-block;
}