*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}
/* regole di debug */



/* .debug .info-box, .debug .contact-box{
    background-color: blueviolet;
    height: 400px;
    border: 1px dashed red;
} */


/* 
.debug .square{
    background-color: palegreen;
    border: 2px dashed rgb(0, 0, 0);
}

.debug .small-square{
    background-color: gold;
    border: 2px dashed rgb(0, 0, 0);
} */

.debug #try-free-sec h2{
   height: 50px;
   background-color: pink;
   border: 2px dashed rgb(0, 0, 0);
}

.debug #try-free-sec a{
    height: 50px;
    background-color: pink;
    border: 2px dashed rgb(0, 0, 0);
    display: block;
}

.debug .ft-column{
    height: 500px;
    background-color: aquamarine;
}

/* regole di css */

header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    z-index: 9999;
    align-items: center;
}

header ul{
    list-style: none;
}

header li{
    display: inline-block;
    vertical-align: middle;
}

header img{
    display: block;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 30px;
}

.button {
    background-color: #0061ff;
    padding: 7px 20px;
    color: white;
    text-decoration: none;
}

.header-right{
    text-align: right;
}

.header-left, .header-right{
    padding: 0px 20px;
}

main{
    padding-top: 80px;
}

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

#jumbotron{
    background-color: #b4d0e7;
}

.flex{
    display: flex;
}

.jt-left{
    width: 30%;
}

.jt-right{
    width: calc(70% - 10px);
    position: relative;
}

#jumbotron .big-container h1 {
    padding: 80px 0 0;
    font-size: 4.8em;
    font-weight: 900;
}

#jumbotron .flex{
    padding: 50px 0px 0px;
    justify-content: space-between;
}

.jt-left span{
    display: block;
    padding: 50px 0;
}

.jt-left p, .jt-left span {
    padding-bottom: 40px;
}

.jt-left .button{
    padding: 10px 15px;
}

#arrow {
    text-decoration: none;
    font-size: 50px;
    color: black;
    padding-bottom: 15px;
}

.jt-right img{
    width: 100%;
    position: absolute;
}

section{
    padding-top: 150px;
}

.big-h2{
    font-size: 2.5em;
}

.big-h4{
    font-size: 1.5em;
}

.padding-b20{
    padding-bottom: 20px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    width: 30%;
    margin-top: 30px;
}

.col-container {
    padding: 30px;
}

.bold{
    font-weight: bold;
}

.gray{
    color: gray;
}

.bottom-border {
    border-bottom: 1px solid black;
    text-align: center;
    display: block;
    padding: 12px;
}
.border-bar{
    border: 1px solid black;
}

.billing {
    padding: 50px 0;
    display: inline-block;
    margin-right: 7%;
}

.billing::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid rgb(116 116 116);
    vertical-align: middle;
    margin-right: 5px;
}

#business-plan-sec i {
    padding-right: 6px;
}

.col-container h4 {
    padding: 10px 0; 
}

.col-container span {
    padding-top: 10px;
    display: block;
    font-size: 0.9em;
}

.text-with-icon {
    margin: 20px 0px;
    text-indent: -9px;
    padding-left: 5px;
}

#business-plan-sec .button {
    text-align: center;
}

.top-border-bar span{
    padding: 10px 0;
    display: block;
}

#business-plan-sec hr {
    background-color: gray;
    margin: 30px 0;
    width: 50px;
}

.blue-check{
    color: #0061ff;
}

.plan-bottom {
    padding: 20px 40px;
}

.plan-bottom span {
    font-size: 0.9em;
    padding-bottom: 60px;
    display: block;
}

.plan-bottom p{
    font-size: 0.9em;
}

.plan-bottom .w-3 {
    text-align: end;
}

.w-3{
    width: 30%;
}

.w-4{
    width: 40%;
}

.w-6{
    width: 60%;
}

.w-7{
    width: 70%;
}

.business-plan-bt{
    margin-top: 50px;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.partner-info-box {
    padding: 50px;
}

.partner-info-box p{
    padding-bottom: 50px;
}

.partner-info-box .white-button {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
}

#more-of-clients-sec a{
    padding-top: 60px;
    color: #0061ff;
    display: block;
}

.square{
    width: calc(100% / 3);
    height: calc(100vw /3);
    flex-wrap: wrap;
}

.center-clients img {
    height: 15%;
    display: inline;
}

.center-clients {
    background-color: #f5f5f5;
    overflow-y: hidden;
    padding: 50px;
}

.center-clients hr {
    width: 100px;
    background-color: gray;
    margin: 50px 0;
}

.center-clients p{
    padding-bottom: 50px;
}

.small-square{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.small-square img{
    filter: invert(1);
}

.sq-1{
    background-color: #a2d39b;
}

.sq-2{
    background-color: #61082b;
}

.sq-3{
    background-color: #0093ce;
}

.sq-4{
    background-color: #ff1c1c;
}

.sq-5{
    background-color: #d5001f;
}

.sq-6{
    background-color: #b4d0e7;
}

.sq-7{
    background-color: #0d2481;
}

.sq-8{
    background-color: #ffd830;
}

#try-free-sec{
    background-color: #b4d0e7;
}

#try-free-sec .flex{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
    
}

hr {
    height: 1px;
    border: none;
}

#faq-sec hr{
    background-color: black;
    margin: 30px 0;
}

.questions{
    width: 100%;
    padding: 20px 0px;
}

.questions h3{
    display: inline-block;
    width: 95%;
}

.questions a {
    display: inline-block;
}

footer{
    background-color: black;
    margin-top: 200px;
}

.ft-column{
    width: calc(100% / 5 - 80px);
}

footer hr{
    background-color: white;
    width: 50px;
    margin: 50px 0;
}

footer a{
    padding: 50px 0;
    display: inline-block;
}